* { 
    margin:0;
}
body {
    font-family: Arial, sans-serif;
}
header {
    padding:6px;
    text-align: center;
    background-color:#2f5353;
    font-size: 12px;
    color:white;
}
main {
    padding: 5px;
    font-size: 12px;
}
nav {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #f2fffa;
    border-bottom: 1px solid #2e8b57;
}
nav a {
    text-decoration: none;
    color: #2e8b57;
}
footer {
    font-size: 12px;
    text-align: center;
    padding: 5px;
}
